# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Debugging and Testing
/.nyc_output
/coverage
/.vscode

# Production
/build
/dist


# Optional eslint cache
.eslintcache

*.key
*.crt
*.csr